.jumbotron {
  background-blend-mode: multiply;
  background-image: url("src/pngtree-blue-gradient-low-polygon-irregular-geometric-abstract-background-geometric-backgroundlow-polygonpolygon-image_53813.jpg");
  background-color: rgba(139, 0, 255, 0.04);
  background-size: cover;
}
