<div class="jumbotron jumbotron-fluid rounded shadow" style="margin-top: 20px">
  <div class="container "  >
    <div class=" p-3 rounded-lg" style="margin-left: 40px;margin-right: 40px; background-color: rgba(255,255,255,0.42)">
      <div class="dropdown" style="visibility: hidden">
        <button class="btn btn-secondary dropdown-toggle" style="margin-left: 85vh;background-color: #9ad0f5; border-color: rgba(255,255,255,0)" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Санкт-Питербург
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenu2" style="background-color: rgba(176,230,250,0.56); border-color: rgba(154,208,245,0)">
          <button class="dropdown-item" type="button" style="background-color: rgba(154,208,245,0)">Санкт-Питербург</button>
        </div>
      </div>
      <div class=" rounded-lg" style=" margin-left: 20px;">
    <h1 class="h1" style="font-size: 4vh; font-synthesis: weight;color: #805ac3; margin-top:  10px "  >Подборка жилья</h1>
    <h1 class="h1" style="color: rgb(128,90,195) ">Лучшее жилье в регионе</h1>
      </div>
      <div class="col-8"></div>
      </div>
    </div>
</div>
